<div class="container own-container">
    <img src="assets/images/Soho.png" alt="">
</div>

<div class="container">
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Dirección de Correo</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingresa tu correo">
          <small id="emailHelp" class="form-text text-muted">Nunca se compartira tu informació personal :)</small>
        </div>
        <br>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Ingresa tus comentarios</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Acepto que me envien correos electronicos</label>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Enviar</button>
      </form>
</div>