<div class="position-relative overflow-hidden   text-center bg-light own-content">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal text-light">Garantizando máxima tecnología</h1>
      <p class="lead text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur maiores aliquam vero doloribus? Aliquam officia, error voluptatum veritatis iusto assumenda, voluptates veniam blanditiis cumque eum impedit accusantium odit aliquid nam.</p>
      <a class="btn btn-outline-secondary " href="#">Conoce más</a>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>


<div class=" flex-md-equal  container">
    <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Grandes promociones </h2>
        <p class="lead">UCB - RIDER cuenta con muchas promociones disponibles para diferentes temporadas.</p>
      </div>
      <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="assets/images/motos1.png" style="height: 100%;" alt="">
    </div>
    </div>
    <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Super descuentos por temporada</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis iure modi molestias officiis repellat sequi culpa. Sed, quia. Temporibus numquam aliquam quasi, aperiam quidem est architecto molestiae eius ad tempore?</p>
      </div>
      <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
        <img src="assets/images/pngegg.png" style="height: 100%;" alt=""></div>
    </div>
</div>
  



<!-- second option para home -->
 

    <!-- information section -->
    <section class = "info-section">
        <h1>Nosotros somos...</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, ullam? Itaque, est ad. Nihil esse porro, blanditiis iste expedita ad, temporibus placeat minus eaque, architecto magni pariatur cumque? Ducimus, excepturi?</p>
        <div class="row">
        <div class="course-col">
            <h3>Misión</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, cum delectus quo excepturi sunt quae earum iure dolor beatae explicabo nam nulla vitae. Sint in blanditiis, veniam rerum placeat aliquid.</p>

        </div>
        <div class="course-col">
            <h3>Visión</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, cum delectus quo excepturi sunt quae earum iure dolor beatae explicabo nam nulla vitae. Sint in blanditiis, veniam rerum placeat aliquid.</p>
            
        </div>
        <div class="course-col">
            <h3>Valores</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, cum delectus quo excepturi sunt quae earum iure dolor beatae explicabo nam nulla vitae. Sint in blanditiis, veniam rerum placeat aliquid.</p>
            
        </div>
        </div>

    </section>

<!-- sucursal section -->
    <section class="suc-section">
        <h1>Sucursales</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque earum, illum obcaecati explicabo asperiores inventore repellat voluptatibus labore ducimus consectetur porro commodi sequi fugiat nihil perferendis vero laborum facilis praesentium?</p>
        <div class="row">
        <div class="suc-col">
            <img src="assets/images/lp.jpg" alt="asda">
            <div class="layer">
            <h3>La Paz</h3>
            </div>
        </div>
        <div class="suc-col">
            <img src="assets/images/cbba.png" id="alternative-img" alt="">
            <div class="layer">
            <h3>Cochabamba</h3>
            </div>
        </div>
        <div class="suc-col">
            <img src="assets/images/sc.jpg" alt="">
            <div class="layer">
            <h3>Santa Cruz</h3>
            </div>
        </div>
        </div>
    </section>

    <!-- Logros section -->
    <section class="logros-section">
        <h1>Nuestros logros</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque ab esse, earum eos ullam expedita ducimus debitis sequi sed dolor fugiat impedit, quis delectus suscipit corporis optio culpa assumenda quam.</p>
        <div class="row">
        <div class="logros-col">
            <img src="assets/images/promo_moto1.jpeg" alt="">
            <h3>Diferenciación</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus beatae aliquam, voluptas non quidem placeat? Voluptatibus ullam beatae odio, eaque quisquam quasi quis atque qui, assumenda pariatur cumque voluptatem nostrum!</p>
        </div>
        <div class="logros-col">
            <img src="assets/images/taller_moto.jpg" alt="">
            <h3>Enfoque en la calidad</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium velit ipsam sint officia reprehenderit dolor voluptas eligendi ut aspernatur molestiae architecto saepe reiciendis esse, doloribus unde repudiandae totam facilis. Totam!</p>
        </div>
        <div class="logros-col">
            <img src="assets/images/p3.jpg" alt="">
            <h3>Líder en costos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto itaque corporis quasi et architecto libero est quam placeat voluptatum. Veniam fugit excepturi alias atque aperiam! Officia distinctio nihil odit ex!</p>
        </div>
        </div>
    </section>

    <!-- comments section -->
    <section class="coments-section">
        <h1>Comentarios</h1>
        <p>alkjnhcijasndkjahbsjikopdhasihd Lorem</p>
        <div class="row">
        <div class="coments-col">
            <img src="assets/images/p1.jpg" alt="">
            <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, sint atque iusto, commodi, modi officia dolorum quo quos ab porro dicta placeat neque amet aspernatur minima sit voluptate nulla culpaasndokansdkjolnaskoldnaskoldnolkasd</p>
            <h3>Christine Berkely</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            </div>
        </div>
        <div class="coments-col">
            <img src="assets/images/p1.jpg" alt="">
            <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, sint atque iusto, commodi, modi officia dolorum quo quos ab porro dicta placeat neque amet aspernatur minima sit voluptate nulla culpaasndokansdkjolnaskoldnaskoldnolkasd</p>
            <h3>Dock</h3>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            </div>
        </div>
        
        </div>
    </section>

  

 